*{

box-sizing:border-box;

}


body{

margin:0;

font-family:
Arial,
Helvetica,
sans-serif;

background:#f0f2f5;

color:#1c1e21;

padding-bottom:70px;

}





.topbar{


height:60px;

background:#1877f2;

color:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 18px;

position:sticky;

top:0;

z-index:10;


box-shadow:
0 2px 5px rgba(0,0,0,.15);

}



.logo{

font-size:24px;

font-weight:bold;

}



.menu{

font-size:22px;

}





main{


max-width:700px;

margin:auto;


}





.profile-box{


background:white;

margin-top:10px;

padding:15px;

display:flex;

gap:15px;

align-items:center;


}



.avatar{


width:55px;

height:55px;

border-radius:50%;

background:#ddd;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;


}





.credit-box{


margin-top:5px;

font-size:14px;

color:#65676b;

}





.create-post{


background:white;

margin-top:10px;

padding:15px;


}





textarea{


width:100%;

height:90px;

border:none;

background:#f0f2f5;

border-radius:20px;

padding:15px;

font-size:15px;

resize:none;


}





button{


margin-top:10px;

width:100%;

height:40px;

border:none;

border-radius:8px;

background:#1877f2;

color:white;

font-size:16px;

font-weight:bold;


}







.post-card{


background:white;

margin-top:10px;

padding:15px;


}





.post-header{


display:flex;

gap:10px;

align-items:center;


}



.small-avatar{


width:40px;

height:40px;

border-radius:50%;

background:#ddd;

display:flex;

align-items:center;

justify-content:center;


}





.username{


font-weight:bold;


}



.time{


font-size:12px;

color:#65676b;


}





.post-text{


margin-top:15px;

font-size:16px;

line-height:1.5;


}





.post-action{


border-top:1px solid #ddd;

margin-top:15px;

padding-top:10px;

display:flex;

justify-content:space-around;

color:#65676b;


}





.bottom-nav{


position:fixed;

bottom:0;

left:0;

right:0;

height:60px;


background:white;


display:flex;

justify-content:space-around;

align-items:center;


border-top:1px solid #ddd;


font-size:12px;


}





.bottom-nav div{


text-align:center;

}





@media(max-width:500px){



.logo{

font-size:22px;

}


main{

width:100%;

}



.profile-box,
.create-post,
.post-card{


border-radius:0;

}


}
